/* ######### CSS for Shade Tabs. Remove if not using ######### */

li {
	Margin-top: 32px !important;
}

.shadetabs{
padding: 10px 0px 20px 0px;  /* JB:tab padding*/
margin-left: 15px; /* JB:left page margin*/
margin-top: 1px;
margin-bottom: 1px;
font: 14px Tahoma;
color: #ffffff; /*JONEDIT - this was missing a semicolon*/
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

/* Style the links inside the navigation bar */
.shadetabs li{
display: inline-block;
margin: -5px;          /* JB: white space between tabs */
}

.shadetabs li a{
text-decoration: none;
position: relative;
z-index: 1;
padding: 15px 14px; /* JB: edit from 3px 7px to 10px 14px to increase tab color around text*/
margin-right: 0px;  /* JB: space between tabs*/
border: none;
color: #ffffff;
background: #003a5b url(shadePSP.gif) top left repeat-x;
}

.shadetabs li a:visited{
color: #ffffff;
}

/* Change the color of links on hover */
.shadetabs li a:hover{
text-decoration: none;
color: #ffffff;
}

/*selected main tab style */
.shadetabs li a.selected{
position: relative;
top: 0px;
}

/*selected main tab style */
.shadetabs li a.selected{
background-image: url(shadeactivePSP.gif);
border-bottom-color: white;
}

.shadetabs li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}

