@charset "UTF-8";
body {
	font-family: 'prenton', san-serif;
	background-color: #FFF;
	color: #333;
}

@media print {
body {
	background: #fff;
	color: #000;
}
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100% ;
}
/*this is part of type-kit - hides the font until it's loaded - FOUT*/
.wf-loading h1, h2 {
	font-family: 'prenton', san-serif;
	visibility: hidden;
}
.wf-active h1, h2 {
	visibility: visible;
}
h1, h2, h3, h4, h5, h6 {
	margin: 20px 0 10px 0;
	text-transform: uppercase;
	font-family: 'prenton', san-serif;
	font-weight: 100;
	letter-spacing: 1px;
}
a {
	color: #00549a;
	font-size: 12px;
}
/*adds external link icon*/
a[href^="http"] {
	background: url(../images/external_link_icon.gif) left no-repeat;
	padding-left: 20px;
}
/*added as a way to remove the icon in special cases. Used on the social icons*/
.light-icon a[href^="http"] {
	background: url(../images/external_link_icon-light.gif) left no-repeat;
	padding-left: 20px;
}
/*added as a way to remove the icon in special cases. Used on the social icons*/
.no-icon a[href^="http"] {
	background: none;
	
	padding-left: 0px;
}
/*created this to make some email addresses smaller to fit in a table on the lead entities page*/
.small-links {
	font-size: 12px !important;
}
.bold-link a {
	color: #00A4F6;
	font-size: 13px;
	font-weight: 900;
}
.san-serif-link a {
	font-family: 'prenton', san-serif !important;
	font-size: 17px!important;
	font-weight: 500;
}

/*add this style to links that are on the dark blue background*/
.light-blue-links a {
	color: #1ab3ff;
}
.white-links a {
	color: #fff;
}
#home-squares a {
	font-size: 14px;
	font-weight: 100;
	line-height: 1.2em;
}
.learn-more-box a {
	color: #fff;
	font-size: 18px;
}
.learn-more-box a:hover {
	text-decoration: none;
}
h1 {
	font-size: 30px;
	font-weight: 100;
}

@media (max-width: 768px) {
h1 {
	font-size: 25px;
	font-weight: 100;
}
}

/* page-content class is used so I can specifically target h1 children in the content areas of inside pages. I'm centering them for mobile*/
@media (max-width: 768px) {
.page-content h1 {
	text-align: center;
}
}
h2 {
	font-size: 22px;
	font-weight: 900;
	/*border-bottom: solid #777 1px;*/
	margin-top: 50px;
	padding-bottom: 25px;
	margin-bottom: 0px;
	color: #0a3b5c;
}
h3 {
	font-size: 15px;
	font-weight: 800;
	line-height: 1.5em;
}
p {
	font-size: 15px;
	line-height: 1.9;
	font-family: georgia, times, serif;
}
/* ul, ol, and a styles nested in "content-column" to keep them seperate from all the navigation styles */
.content-column ul, ol {
	font-size: 15px;
	line-height: 1.8;
	font-family: georgia, times, serif;
}
.content-column li {
	padding: 0 0 10px 0;
}
.content-column a {
	font-size: 15px;
	line-height: 1.8;
	font-family: georgia, times, serif;
}
.white_fill {
	background-color: #fff;
}
.green-fill {
	background-color: #C6B42F;
}
.orange-fill {
	background-color: #EF892E;
}
.orange-fill-trans {
	background-color: rgba(247,179,51,0.59);
}
.light-blue-fill {
	background-color: #51748d;
}
.blue-fill {
	background-color: #0a3b5c;
}
.very-light-blue-fill {
	background-color: #c2e6ff;
}
.white {
	color: #fff;
}
.orange {
	color: #EF892E;
}
.blue {
	color: #0a3b5c;
}
.grey {
	color: #555;
}
/*padding all*/
.padding-10-all {
	padding: 10px 10px 10px 10px;
}
.padding-20-all {
	padding: 20px 20px 20px 20px;
}
.padding-30-all {
	padding: 30px 30px 30px 30px ;
}
/*padding top*/
.padding-0-top {
	padding-top: 0px;
}
.padding-10-top {
	padding-top: 10px;
}
.padding-20-top {
	padding-top: 20px;
}
.padding-30-top {
	padding-top: 30px;
}
.padding-40-top {
	padding-top: 40px;
}
.padding-50-top {
	padding-top: 50px;
}
.padding-150-top {
	padding-top: 20px;
}
/*padding right*/
.padding-0-right {
	padding-right: 0px;
}
.padding-10-right {
	padding-right: 10px;
}
.padding-20-right {
	padding-right: 20px;
}
.padding-40-right {
	padding-right: 40px;
}
/*padding bottom*/
.padding-0-bottom {
	padding-bottom: 5px;
}
.padding-5-bottom {
	padding-bottom: 5px;
}
.padding-10-bottom {
	padding-bottom: 10px;
}
.padding-20-bottom {
	padding-bottom: 20px;
}
.padding-30-bottom {
	padding-bottom: 30px;
}
.padding-40-bottom {
	padding-bottom: 40px;
}
.padding-50-bottom {
	padding-bottom: 50px;
}
/*padding left*/
.padding-0-left {
	padding-left: 0px;
}
.padding-10-left {
	padding-left: 10px;
}
.padding-20-left {
	padding-left: 20px;
}
.padding-50-left {
	padding-left: 50px;
}
.padding-60-left {
	padding-left: 60px;
}

@media (max-width: 768px) {
.mobile-padding-20-left {
	padding-left: 20px;
}
}
/*margin top*/
.margin-0-top {
	margin-top: 0px;
}
.margin-10-top {
	margin-top: 10px;
}
.margin-20-top {
	margin-top: 20px;
}
.margin-40-top {
	margin-top: 40px;
}
.margin-50-top {
	margin-top: 50px;
}
.margin-150-top {
	margin-top: 150px;
}
/*margin right*/
.margin-0-right {
	margin-right: 0px;
}
.margin-10-right {
	margin-right: 10px;
}
.margin-20-right {
	margin-right: 20px;
}
.margin-40-right {
	margin-right: 40px;
}
.margin-50-right {
	margin-right: 50px;
}
.margin-150-right {
	margin-right: 150px;
}
.margin-40-bottom {
	margin-bottom: 40px;
}
.margin-0-left {
	margin-left: 0px;
}
.margin-10-left {
	margin-left: 10px;
}
.margin-20-left {
	margin-left: 20px;
}
.margin-40-left {
	margin-left: 40px;
}
.margin-10-all {
	margin: 10px;
}
.margin-20-all {
	margin: 20px;
}
.margin-30-all {
	margin: 30px;
}
.margin-40-all {
	margin: 40px;
}
.margin-0-bottom {
	margin-bottom: 0px;
}
.margin-5-bottom {
	margin-bottom: 5px;
}
.margin-10-bottom {
	margin-bottom: 10px;
}
.margin-20-bottom {
	margin-bottom: 20px;
}
.margin-30-bottom {
	margin-bottom: 30px;
}

.line-height-tight {
	line-height: 10px;
}
.border-top {
	border-top: dotted 1px #434343;
}
.border-bottom {
	border-bottom: dotted 1px #434343;
}
/*align*/
.align-right {
	text-align: right;
}
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.underline {
	text-decoration-line: underline;
}
.auto-size {
	width: 100%;
	height: auto;
}
/*width helpers*/
.width-200 {
	width: 200px;
	margin: auto;
}
.width-300 {
	width: 300px;
	margin: auto;
}
/*special case the gov delivery input field on the footer to get it to left align*/
.width-300-govdelivery {
	width: 300px;
	margin: auto;
}
@media (max-width: 992px) {
.width-300-govdelivery {
	width: 300px;
	margin-left:0px;
}
}
.width-300-govdelivery-doth {
	width: 300px;
	margin-left: 20px;
}
@media (max-width: 992px) {
.width-300-govdelivery-doth {
	width: 300px;
	margin-left:20px;
	margin-bottom:30px;
}
}
.width-400 {
	width: 400px;
	margin: auto;
}
.width-500 {
	width: 500px;
	margin: auto;
}
.rounded-corners {
	 border-radius: 25px;
}
.border-thick-blue {
	 border: solid #0a3b5c 3px;
}
.border-thin-blue {
	 border: solid #0a3b5c 1px;
}
.floatright{
	float: right;
}
/*news boxes on homepage*/
.newsbox {
	height: 148px;
	background-color: #0a3b5c;
	color: #ffffff;
	margin-top: 20px;
	border-radius: 0px 15px 15px 15px;
}
/*hover color for the newsbox div - jquery makes it clickable*/
/*.newsbox:hover {
	background-color: rgba(245,180,50,1.00);
	color: #00293e;
}*/
.newsbox a {
	color: #93dbff;
	font-size: 14px;
}
/*.newsbox a:hover {
	color: #00293e;
}*/
.newsbox-date {
	height: 45px;
	width: 54px;
	background-color: rgba(245,180,50,1.00);
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	padding-top: 7px;
	padding-bottom: 7px;
	letter-spacing: 1px;
}
.newsbox-text {
	margin-top: 10px;
	padding: 10px;
	font-size: 12px;
	font-weight: 900px;
	letter-spacing: 1px;
}
.newsbox-with-img{
	height: 320px;
}
.jobbox {
	background-color: #00293e;
	color: #ffffff;
}
.calendarbox {
	background-color: #F18B20;
	color: #ffffff;
}
.calendarbox a {
	color: #ffffff;
	font-size: 12px;
}

/* make the news boxes a little shorter on mobile*/
@media (max-width: 768px) {
	.newsbox {
		height: 120px;
	}
	.newsbox-with-img{
		height: 320px;
	}
}

/*Highlight a piece of content in a blue box!*/
.highlightbox {
	background-color: rgba(227,237,249,1.00);
	border-radius: 1px 30px 1px 1px;
	padding: 10px;
}
.highlightbox h2 {
	color: #0a3b5c;
	padding-bottom: 5px;
}
/* for adding a "new" to a announcement*/
.new-red {
	font-weight: 900;
	color: #D12023;
}
/* Added to the main nav when it scrolls 9-28-15*/
.navbar-default {
	padding: 0;
	background: rgba(9,57,93,1);
	border: none;
}
/*using this instead of the jumbotron - pulled CSS from the gray theme 9-28-15*/
.intro {
	display: table;
	width: 100%;
	height: 500px;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background: url(../images/home_image8.jpg)no-repeat bottom center scroll;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .intro-body {
	display: table-cell;
	vertical-align: middle;
}
/*sets text size on the jumbotron*/
.intro h1 {
	font-size: 40px;
	text-shadow: 2px 2px #000;
}
.intro .learn-more-box {
	width: 150px;
	display: block;
	border: solid #fff 1px;
	margin: 0 auto;
	border-radius: 5px
}
/* fixes the z index on the modal so it's not greyed out 9-28-15*/
.modal-backdrop.in {
	z-index: auto;
}
/*modal customization 9-30-15*/
.modal-custom {
	background-color: #0a3b5c;
}
.modal-header-custom {
	border: none;
}
.modal-title-custom {
	color: #ffffff;
}
.modal-body-custom {
	color: #ffffff;
	text-align: center;
}
.modal-body-custom h1 {
	font-size: 20px;
	font-weight: 900;
	letter-spacing: 2px;
	padding: 30px 0px 15px 0px;
}
.modal-body-custom p {
	font-family: 'prenton', san-serif;
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 2px;
	line-height: 30px;
}
/*blue link color needs to be lighter on the dark blue*/
#myModal a {
	color: #1ab3ff;
	font-size: 16px
}
/*the search text turns white from modal-body-custom I turn it black here*/
.search-custom {
	color: #000;
	text-align: left;
	width: 50%;
	margin: auto;
}

/*search bar is too skinny on the phone*/
@media (max-width: 768px) {
.search-custom {
	width: 90%;
}
}
/*the little x button to dismiss the dialog needs to be white*/
.close-custom {
	color: #ffffff;
	font-size: 30px;
	text-shadow: 0 1px 0 #000;
}
/*the clickable area is off of the actual x - overriding bootstrap here seems to fix it*/
.modal-header .close {
	margin-top: -10px;
}
.close:hover, .close:focus {
	color: #1590cd;
}

/*Makes the modal main menu fullscreen on anything over 768*/
@media (min-width: 768px) {
.modal-dialog-custom {
	width: auto;
	margin: auto;
}
}
* /*this centers the modal seperators between sections. They needed img-responsive so they didn't poke out of the modal when small. This caused them to align left. the css is a fix to align them center*/
.custom-modal-center-fix {
	margin: 0 auto;
}
/*section overview pages with photos on top use this for the image 10-1-15 */
 
.overview-page-image1 {
	background: url(../images/inside_image_1.jpg)no-repeat bottom center scroll;
}
.overview-page-image2 {
	background: url(../images/inside_image_2.jpg)no-repeat bottom center scroll;
}
.overview-page-image3 {
	background: url(../images/inside_image_3.jpg)no-repeat bottom center scroll;
}
.overview-page-image4 {
	background: url(../images/inside_image_4.jpg)no-repeat bottom center scroll;
}
.overview-page-image5 {
	background: url(../images/inside_image_5.jpg)no-repeat bottom center scroll;
}
.overview-page-image6 {
	background: url(../images/inside_image_6.jpg)no-repeat bottom center scroll;
}
.overview-page-image7 {
	background: url(../images/inside_image_7.jpg)no-repeat bottom center scroll;
}
.overview-page-image8 {
	background: url(../images/inside_image_8.jpg)no-repeat bottom center scroll;
}
.overview-page-image9 {
	background: url(../images/inside_image_9.jpg)no-repeat bottom center scroll;
}
.overview-page-image10 {
	background: url(../images/inside_image_10.jpg)no-repeat bottom center scroll;
}
.overview-page-image11 {
	background: url(../images/inside_image_11.jpg)no-repeat bottom center scroll;
}
.overview-page-image12 {
	background: url(../images/inside_image_12.jpg)no-repeat bottom center scroll;
}
.overview-page-image13 {
	background: url(../images/inside_image_13.jpg)no-repeat bottom center scroll;
}
.overview-page-image14 {
	background: url(../images/inside_image_14.jpg)no-repeat bottom center scroll;
}
.overview-page-image15 {
	background: url(../images/inside_image_15.jpg)no-repeat bottom center scroll;
}
.overview-page-image16 {
	background: url(../images/inside_image_16.jpg)no-repeat bottom center scroll;
}
.overview-page-image17 {
	background: url(../images/inside_image_17.jpg)no-repeat bottom center scroll;
}
.overview-page-image18 {
	background: url(../images/inside_image_18.jpg)no-repeat bottom center scroll;
}
.overview-page-image19 {
	background: url(../images/inside_image_19.jpg)no-repeat bottom center scroll;
}
.overview-page-image20 {
	background: url(../images/inside_image_20.jpg)no-repeat bottom center scroll;
}
.overview-page-image21 {
	background: url(../images/inside_image_21.jpg)no-repeat bottom center scroll;
}
.overview-page-image22 {
	background: url(../images/inside_image_22.jpg)no-repeat bottom center scroll;
}
.overview-page-image23 {
	background: url(../images/inside_image_23.jpg)no-repeat bottom center scroll;
}
.overview-page-image24 {
	background: url(../images/inside_image_24.jpg)no-repeat bottom center scroll;
}
.overview-page-image25 {
	background: url(../images/inside_image_25.jpg)no-repeat bottom center scroll;
}
.overview-page-image26 {
	background: url(../images/inside_image_26.jpg)no-repeat bottom center scroll;
}
.overview-page-image27 {
	background: url(../images/inside_image_27.jpg)no-repeat bottom center scroll;
}
.overview-page-image28 {
	background: url(../images/inside_image_28.jpg)no-repeat bottom center scroll;
}
.overview-page-image29 {
	background: url(../images/inside_image_29.jpg)no-repeat bottom center scroll;
}
.overview-page-image30 {
	background: url(../images/inside_image_30.jpg)no-repeat bottom center scroll;
}
.overview-page-image31 {
	background: url(../images/inside_image_31.jpg)no-repeat bottom center scroll;
}
.overview-page-image32 {
	background: url(../images/inside_image_32.jpg)no-repeat bottom center scroll;
}
.overview-page-image33 {
	background: url(../images/inside_image_33.jpg)no-repeat bottom center scroll;
}
.overview-page-image34 {
	background: url(../images/inside_image_34.jpg)no-repeat bottom center scroll;
}
.overview-page-image35 {
	background: url(../images/inside_image_35.jpg)no-repeat bottom center scroll;
}
.overview-page-image36 {
	background: url(../images/inside_image_36.jpg)no-repeat bottom center scroll;
}
.overview-page-image75 {
	background: url(../images/inside_image_75.jpg)no-repeat bottom center scroll;
}
.overview-page-image76 {
	background: url(../images/inside_image_76.jpg)no-repeat bottom center scroll;
}
.overview-page-image77 {
	background: url(../images/inside_image_77.jpg)no-repeat bottom center scroll;
}
.overview-page-image78 {
	background: url(../images/inside_image_78.jpg)no-repeat bottom center scroll;
}
.overview-page-image79 {
	background: url(../images/inside_image_79.jpg)no-repeat bottom center scroll;
}
.overview-page-image80 {
	background: url(../images/inside_image_80.jpg)no-repeat bottom center scroll;
}
.overview-page-image81 {
	background: url(../images/inside_image_81.jpg)no-repeat bottom center scroll;
}
.overview-page-image82 {
	background: url(../images/inside_image_82.jpg)no-repeat bottom center scroll;
}
.overview-page-image83 {
	background: url(../images/inside_image_83.jpg)no-repeat bottom center scroll;
}
.overview-page-image84 {
	background: url(../images/inside_image_84.jpg)no-repeat bottom center scroll;
}
.overview-page-image90 {
	background: url(../images/inside_image_84.jpg)no-repeat bottom center scroll;
}
.overview-page-image99 {
	background: url(../images/inside_image_99.jpg)no-repeat bottom center scroll;
}
.overview-page-image99_sm {
	background: url(../images/inside_image_99_sm.jpg)no-repeat bottom center scroll;
}
.overview-page-image100 {
	background: url(../images/home_image5_DOH.jpg)no-repeat bottom center scroll;
}
.overview-page-image101 {
	background: url(../images/inside_image_101.jpg)no-repeat bottom center scroll;
}
.overview-page-image102 {
	background: url(../images/inside_image_102.jpg)no-repeat bottom center scroll;
}
.overview-page-image103 {
	background: url(../images/inside_image_103.jpg)no-repeat bottom center scroll;
}
.overview-page-image104 {
	background: url(../images/inside_image_104.jpg)no-repeat bottom center scroll;
}
.overview-page-image105 {
	background: url(../images/inside_image_105.jpg)no-repeat bottom center scroll;
}
.overview-page-image106 {
	background: url(../images/inside_image_106.jpg)no-repeat bottom center scroll;
}
.overview-page-image107 {
	background: url(../images/inside_image_107.jpg)no-repeat bottom center scroll;
}
.overview-page-image108 {
	background: url(../images/inside_image_108.jpg)no-repeat bottom center scroll;
}
.overview-page-image109 {
	background: url(../images/inside_image_109.jpg)no-repeat bottom center scroll;
}


.overview-page-image-style {
	width: 100%;
	
	height: 300px;
	padding: 0;
	margin-top: 71px;
	color: #fff;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.overview-page-image-style_sm {
	width: 100%;
	height: 100px;
	padding: 0;
	margin-top: 71px;
	color: #fff;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}


@media (min-width: 768px) and (max-width: 992px) {
.overview-page-image-style {
	height: 280px;
}
}

@media (max-width: 768px) {
.overview-page-image-style {
	height: 200px;
}
}

/*turns off top image for all pages on print*/
@media print {
.overview-page-image-style {
	display: none;
}
}
/*setting up positioning for adding a color bar and logo to SOS*/
.overview-logo-banner {
}
.overview-quote {
	width: 20%;
	margin: 0px 50px 0px 0px;
	/*this little tidbit controls the vertical positioning*/
	position: relative;
	top: 90%;
	transform: translateY(-90%);
}

@media (max-width: 768px) {
.overview-quote {
	display: none;
}
}
.overview-quote h3 {
	font-size: 14px;
	color: #fff;
	text-shadow: 1px 1px 2px #000;
	font-weight: 100;
}
/*left nav*/
.nav-leftside-custom {
	text-align: right;
}

.nav-leftside-custom a{
	font-size: 13px;
}
/*left subNav*/

.nav-leftside-custom .subLeftNav a{
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 3px;
}


/* hide inactive nested list */
.nav-leftside-custom .nav ul.nav {
    display: none;           
}
/* show active nested list - only opens when a sub nav is active - set it this way so the action agenda home page wouldn't show it's subnav*/
.nav-leftside-custom .nav>.subNavOn>ul.nav {
    display: block;           
}

/*left nav customization of bootstrap nav class*/
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	font-weight: 700;
	color: #0a3b5c;
	background-color: #fff;
}
/*left subnav customization of bootstrap nav class*/
.nav-pills > li > ul > li.active > a, .nav-pills > li > ul >  li.active > a:hover, .nav-pills > li > ul > li.active > a:focus {
	font-weight: 500;
	color: #0a3b5c;
	background-color: #fff;

}

/*makes the left nav centered on small screens*/
@media (max-width: 768px) {
.nav-leftside-custom {
	text-align: center;
}
}
/*turns off top nav for all pages on print - NOT SURE WHETHER TO KEEP THIS
@media print {
	.nav-leftside-custom {
    display:none;
  	 }
}
*/
/*right nav*/

.right-nav-title {
	font-size: 12px;
	font-weight: 900;
	font-style: italic;
	padding-bottom: 5px;
	border-bottom: solid 1px #555;
}
.nav-rightside-custom {
	font-size: 13px;
	padding: 0;
	margin: 0;
}
.nav-rightside-custom li {
	list-style-type: none;
	margins: 0;
	padding: 5px 0 5px 0;
	border-bottom: solid 1px #555;
}
.right-nav-contact {
	font-size: 12px;
}


/*SITE MAP STYLES*/
.sitemap ul {
	list-style-type: none;
}
.sitemap ul li {
	padding-bottom: 3px;
}
.sitemap ul li a {
	font-size: 10px;
}
.sitemap-subheads {
	font-size: 10px;
	padding-top: 10px;
}
.iframe-actionagenda{
 position: relative;
	height: 0;
	overflow: hidden;
	padding-bottom: 100%;
}
.iframe-actionagenda iframe{
	position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sidebarbox {
	float: right;
	width: 45%;
	//border: solid 1px #288A1F;
}
