@charset "utf-8";

/* CSS Document */
/*top right bottom left*/

/*-----------------------------------------------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
body {

	text-align:center;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	background-color: #0a3b5c;
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#124464;
	line-height:1.6em;
}

p {
	margin: 0px 0px 0px 0px;
	padding: 3px 10px 10px 0px;
	line-height:1.6em;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

label {
	font-size:11px;
}

legend {
	color:#124464;
	visibility:hidden;
}



h1 {
	font-family: 'Lato', san-serif !important; 
	font-weight: 400 !important;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-size:20px;
	text-transform: uppercase;
}

h2 {
	margin: 0 0 0 0;
	padding: 0px 50px 10px 0px;
	font-size:12px;
	font-family: 'Lato', san-serif !important;
	font-weight: 400 !important;
	text-transform: uppercase;
	line-height:1.5em;
}

/*intro paragraph */
h3 {
	margin: 10px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
	font-size:13px;
	font-family: 'Lato', san-serif !important; 
	text-transform: uppercase;
	font-weight: 400 !important;
	line-height:1.55em;
	color:#096dab;
}

/*homepage dashed section*/
h4 {
	margin: 20px 0px 3px 0px;
	padding:3px 0px 3px 0px;
	font-size:15px;
	font-family: 'Lato', san-serif !important;
	text-transform: uppercase;
	font-weight: 400 !important;
	line-height:1 em;
	border-bottom:#888888 1px;
	border-bottom-style: dashed;
	border-top:#888888 1px;
	border-top-style: dashed;
}

.homeRightColImg {
	padding: 20px 0 0 0 ;
	float: left;
}
	
/* small subhead*/
h5 {
	margin: 0px 0px 0px 0px;
	padding:0px 10px 0px 0px;
	font-size:12px;
	font-family: 'Lato', san-serif !important;
	text-transform: uppercase;
	font-weight: 400 !important;
}

/*used for subhead on interior pages*/
h6 {
	margin: 0px 0px 0px 0px;
	padding:30px 10px 5px 0px;
	font-size:14px;
	font-family: 'Lato', san-serif !important;
	text-transform: uppercase;
	font-weight: 400 !important;
	line-height:1.35em;
	color: #096dab;
}

h7 {
	margin: 0 0 0 0;
	font-size:12px;
	font-family: 'Lato', san-serif !important;
	text-transform: uppercase;
	font-weight: 400 !important;
	line-height:1em;
	padding-right:10px;
	padding-left:0px;
	padding-bottom:2px;
	padding-top:0px;
	font-style:italic;
}

a 	{
	text-decoration: none; 
	border: 0px

}

img 	{
	border: 0px

}

a:link {
	color: #2d7fb3;
	text-decoration:none;
}

a:visited {
	color: #2d7fb3;
	text-decoration:none;
}

a:hover {
	color: #3492ce;
	text-decoration:underline;
}

a:active {
	color: #2d7fb3;
	text-decoration:none;
}

#pages #contentMain table {
	border:#b7d4e6 solid 1px;
	/*background:#00FFCC;*/
	border-collapse:collapse;
	width:635px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

#pages #contentMain td {
	vertical-align:top;
	padding:5px 3px 5px 3px;
	font-size:11px;
	border-bottom: #b7d4e6 solid 1px;
}

/* homepage news script is styled here */
#home #contentMain table {
	border-collapse:collapse;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

/* homepage news script is styled here */
#home #contentMain td {
	vertical-align:top;
	padding:0px 0px 5px 0px;
	font-size:12px;
}

#home p {
	font-size:13px;
}

#contentmain a:link {
	color: #3492ce;
	text-decoration:none;
	background-image:url(../images/link.gif);
	background-repeat:no-repeat;
	background-position:left;
	padding-left:7px;
}

#contentmain a:visited {
	color: #3492ce;
	background-image:url(../images/link.gif);
	background-repeat:no-repeat;
	background-position:left;
	padding-left:7px;
	text-decoration:none;
}

#contentmain a:hover {
	color: #3492ce;
	background-image:url(../images/link.gif);
	background-repeat:no-repeat;
	background-position:left;
	padding-left:7px;
	text-decoration:underline;
}

#contentmain a:active {
	color: #3492ce;
	background-image:url(../images/link.gif);
	background-repeat:no-repeat;
	background-position:left;
	padding-left:7px;
	text-decoration:none;
}

#oneColumn li {
	margin: 0px 0px 5px 10px;
}

.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.floatleft {
	float:left;
	margin:20;
}

.floatright {
	float:right;
	margin:20;
}


/*-----------------------------------------------------------------------------------------------------*/


.tabbed {
	margin: 0 0 0 20px;
}

.photocredit {
	font-size:9px;
	color:#666666;
	line-height:normal;
}

.formStyle {
	margin:10px;
}

.tableheader {
	margin: 0 0 10px 0;
	font-size:11px;
	font-weight:bold;
	line-height:1em;
	background:url(../images/tableheader.gif) repeat-x;
}

.home_date {
	color: #FF6633;
	font-weight: bold;
}

.home_DateBig {
	color: #FF6633;
}

.sidebarHeader {
	color: #66CC66;
	font-weight: bold;
}

.homeintro {
	margin: 0 20px 0 0;
	padding: 0px 20px 10px 0px;
	font-size:14px;
	line-height:1.45em;
	color:#124464;
	border-bottom:#888888 dashed 1px
}

.homeintroNoLine {
	margin: 0 20px 0 0;
	padding: 0px 80px 10px 0px;
	font-size:13px;
	line-height:1.35em;
	color:#124464;
}

.new {
	color: #990000;
	font-weight: bold;
}

.imgsmallright {
	float:right;
}

.actionAgendaSidebar {
float:right;
	margin: 10px 20px 20px 20px;
	Padding: 5px 10px 10px 10px;
	border: solid 1px #000000
}



/*---------------------------------------------div styles-----------------------------------*/

/* from inside CSS */
#stimulus ol {
	padding: 10px
}

#stimulus li {
	padding:5px
}

#stimulus {
	line-height:1.5em;
}

/* end from inside CSS */

#gigawrap {
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align:left;
	position:relative;
	width:930px;
	top:0px;
	background-image: url(../images/frame_mid.png);
	background-repeat:repeat-y;
}

#wrappaInterior {
	width:930px;
	height:12px;
	background-image:url(../images/frame_top.png);
	background-repeat:no-repeat;
}

#mediaplayer {
	border: solid #000000 8px;
	width:925x;
}

#header {
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align:left;
	width:930px;
	height:88px;
	background-color: #0a3b5c;
	color:#318bc4;
}

#topnav a{ color: #ffffff;}

#topnav {
	position:absolute;
	background-color: #0a3b5c;
	top:10px;
	left:470px;
	width:450px;
}

/* feature height controls where #maincontent starts */
#feature {
	text-align: left;
	position: relative;
	width: 930px;
	height: 390px;
	top: 0px;
}



#youtubebox {
	height:390
}

#mainimage {
	margin: 0 0 0 0;
	padding:0 0 0 0;
	position:absolute;
	top:12px;
	left:13px;
	background-image: url(../images/homepage_030111_a.jpg)
}


#homeBannerLower {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	position:absolute;
	top:237px;
	left:228px;
	height:28px;
}

#insideimage {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	position:absolute;
	left:13px;
	height:225px;
	width:214px;
}

#pages #mainnav {
	position:absolute;
	top:226px;
	left:-215px;
	width:215px;
	height:192px;
	z-index:100;
}

#home #mainnav {
	position:absolute;
	top:-12px;
	left:-215px;
	width:215px;
	height:192px;
	z-index:100;
}

#sidebarHome {
	position:absolute;
	top:400px;
	left:13px;
	width:215px;
	height:192px;
}

#sidebarPugetSound {
	position:absolute;
	top:455px;
	left:13px;
}

#sidequote {
	position:absolute;
	top:575px;
	left:13px;
	width:200px;
	height:192px;
	font-size:11px;
	margin:0px 0px 0px 0px
}

#home #sidequote {
	position:absolute;
	top:590px;
	left:13px;
	width:200px;
	height:192px;
	font-size:11px;
	margin:0px 0px 0px 0px
}

#sidequote p {
	padding-bottom:10px;
	padding-left:0px;
}

#homeimgsmall {
	float:right;
	padding: 0px 0px 0px 10px;
	margin: 10px 0px 0px 0px;
}


#homeimgsmallLeft {
	float:left;
	margin:5px 15px 15px 5px;
}

#insideContent {
	float:right;
	position:relative;
	right:15px;
	width:687px;
}

#bigstory {
	padding:0px 21px 10px 0px;
	margin: 0px 0px 0px 30px;/*top right bottom left*//*background:#ffffff;*/
}

#bigstory p {
	font-size:15px;
	line-height:125%;
}



#intro {
	width:520px;
}

/* -------------------inside page core divs-------------------- */
#contentMainWrapper{
	background-image: url(../images/homepage_background.jpg);
	background-position:bottom left;
	background-repeat:no-repeat;

	margin:0 0 1px 14px;
}

#contentMain {
	padding:0px 0px 0px 0px;
	margin: 0 0 0 0;
	float:right;
	position:relative;
	right:15px;
	width:687px;
	z-index:100;
}

#contentMainForm {
	padding:0px 0px 0px 0px;
	margin: 0 0 0 0;
	float:right;
	position:relative;
	right:15px;
	width:800px;
	z-index:100;
}


#tables {
	width:635px;
	margin:10px 20px 15px 30px;
	padding:0px 0px 6px 0px;
}

#pageHeader {
	margin:10px 20px 15px 30px;
	padding:0px 0px 6px 0px;
	width:635px;
	border-bottom:#84b6d5 solid 1px;/*background:#e0f1fb;*/
}

#oneColumn {
	width:560px;
	padding:0px 0px 40px 0px;
	margin: 0 0px 0 30px;
}

#oneColumn li{
	line-height:1.5em;
}



#oneColumnNews {
	width:600px;
	padding:50px 0px 0px 23px;
}

#oneColumnNews p {
	font-size: 11px;
	line-height:1.1em;
}

#leftcol {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float:right;
	/*width is 1 pixel short due account for the border*/
	/*actual col width is 578*/
	width:305px;/*border:solid 1px #d2e9ed;*/
}

#rightcol {
	margin: 0px 20px 0px 27px;
	padding: 0px 0px 0px 0px;
	float:right;
	width:305px;/*border:solid 1px #d2e9ed;*/
}

#bottom {
	position:relative;
	/*top right bottom left*/
	padding:0px 0px 0px 0px;
	top:0px;
	left:0px;
	width:930px;
	height:32px;
	background-image:url(../images/frame_foot.png);
	background-position:top;
	background-repeat:no-repeat;
	background-color: #808378;
}

#footer a{ color: #FFFFFF;
}

#footer {
	position:relative;
	/*top right bottom left*/
	padding:10px 0px 0px 20px;
	margin-top:0px;
	width:930px;
	height:100px;
	background-color: #0a3b5c;
	color:#cccccc;
	font-size:12px;
}

#footerfloatright {
	float:right;
	margin-right:140px;
}

/* doesn't exist */
/*social bar styles here*/
#socialbar{
	padding: 0 14px 0 0px;}
#soc1{
	float:right;
	}
#soc2{
	float:right;
	}
#soc3{
	float:right;
	width: 196px;
	height:71px;
	vertical-align:bottom;
	padding:15px;
	background-color:#dce0e5;
	}



/* -------------------SOS 2013-------------------- */

#SOS_contentMain {
	padding: 0px 0px 0px 0px;
	margin: 0 0 0 0;
	float: right;
	position: relative;
	right: 15px;
	width: 900px;
	z-index: 100;
}

#SOS_leftcol {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: right;
	/*width is 1 pixel short due account for the border*/
	/*actual col width is 578*/
	width: 440px;/*border:solid 1px #d2e9ed;*/
}

#SOS_rightcol {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
	float: right;
	width: 440px;/*border:solid 1px #d2e9ed;*/
}

#sos_sections_wrapper{
	padding: 10px 10px 10px 13px;
	
	}

#sos_sections_1 {
		float: left;
		padding: 0 8px 0 4px;
}

#sos_sections_2 {
		float: left;
		padding: 0 8px 0 0;
}
	
#sos_sections_3 {
		float: left;
		padding: 0 8px 0 0;
}

#sos_sections_4 {
		float: right;
		padding: 0 6px 0 0;
}

#SOS_banner{
	background: url(../images/SOS_2013_banner.jpg);
	position: relative;
	width: 903px;
	height: 223px;
	overflow: hidden;
	margin-left: 13px;
}

#SOS_bannertext p{
	margin: 100px 0px 10px 10px;
	font-weight:bolder;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	color: #fff;
	} 
	
#SOS_bannertext h1{
	margin: 20px 0px 10px 10px;
	font-weight:bolder;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 30px;
	color: #fff;
	} 
		
#SOS_bannertext h2{
	margin: 10px 0px 10px 10px;
	font-weight:bolder;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	color: #fff;
	} 

#SOS_bannertext a:link{
color: #fff;
	text-decoration:none;
	} 	
		

#SOS_bannertext a:visited {
	color: #fff;
	text-decoration:none;
}

#SOS_bannertext a:hover {
	color: #3492ce;
	text-decoration:underline;
}

#SOS_bannertext a:active {
	color: #fff;
	text-decoration:none;
}


#SOS_rellinks{
	display:inline-block;
	float:left;	
	} 	
	
#SOS_rellinks img{
	display:inline-block;
	padding: 5px 10px 5px 0px;
	float:left;	
	} 	
	
.sos_caption{	
	font-size: 10px;
	line-height: 13px;
}

.SOS_localheader {
	margin: 20px 0px 3px 0px;
	padding:3px 0px 3px 0px;
	font-size:24px;
	font-weight:bold;
	line-height:1 em;
}