

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {

}

body {
	font-family: 'prenton', san-serif;
	height: 100%;
	padding-bottom: 20px;
	font-size:1.3em;
}

td { vertical-align:bottom;
}
p {
font-size: 20px;}
h1 {
	font-size:16px;
}
h2 {
	font-size:14px;
}
#map {
	height: 700px;
}

#amount {
	font-size:24px;
}
.funding {
	text-align:right;
}
.blue {
	background-color: #27588D;
}
.white {
	color: #ffffff;
}

.right-align {
	text-align:right;
}

.totalFundingText {
	font-size:20px;
	font-weight: bold;
	color:#337ada;
}

.totalFunding {
	font-size:24px;
	color:#337ada;
}

.padding-10-all {
	padding: 10px;
}
.padding-20-left {
	padding-left:: 20px;
}
.padding-30-left {
	padding-left:: 30px;
}

.padding-40-left {
	padding-left:: 40px;
}

.padding-50-left {
	padding-left:: 50px;
}



 
.ui-slider-vertical {
    width: 1.8em;
    height: 100px;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 2.2em;
    height: 2.1em;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
}