

.mainTable {
    background-color : #91ADB5;
    border-bottom-style : solid;
    border-left-style : solid;
    border-right-style : solid;
    border-top-style : solid;
    font-size : 14px;
  }


.mainTableA {
    background-color : #97B0D3;
    border-bottom-style : solid;
    border-bottom-width : 1px;
    border-left-style : solid;
    border-left-width : 1px;
    border-right-style : solid;
    border-right-width : 1px;
    border-top-style : solid;
    border-top-width : 1px;
    font-size : 12px;
    padding-right : 15px;
  }


.mainTableB {
    background-color : #E7E7E7;
    border-bottom-style : solid;
    border-bottom-width : 1px;
    border-left-style : solid;
    border-left-width : 1px;
    border-right-style : solid;
    border-right-width : 1px;
    border-top-style : solid;
    border-top-width : 1px;
    font-size : 12px;
  }


.mainTableData {
    border-bottom-color : #4a6c7d;
    border-left-color : #4a6c7d;
    border-right-color : #4a6c7d;
    border-top-color : #b43910;
    border-top-style : solid;
    border-top-width : 5px;
    empty-cells : show;
    font-size : 11px;
    text-align : left;
  }


.mainTableData2 {
    background-color : #78e9ff;
    border-bottom-color : #000000;
    border-bottom-style : solid;
    border-bottom-width : 2px;
    border-left-color : #000000;
    border-left-style : solid;
    border-left-width : 2px;
    border-right-color : #000000;
    border-right-style : solid;
    border-right-width : 2px;
    border-top-color : #000000;
    border-top-style : solid;
    border-top-width : 2px;
    font-size : 15px;
    font-style : normal;
    text-align : center;
  }


.mainTableData3 {
    border-bottom-color : #b43910;
    border-left-color : #4a6c7d;
    border-right-color : #4a6c7d;
    border-top-style : solid;
    border-top-width : 1px;
    empty-cells : show;
    font-size : 11px;
    font-style : italic;
    height : 100px;
    text-align : left;
    vertical-align : top;
  }

