@charset "UTF-8";
#show-goal {
	margin: 20px;
}
#show-highlight  {
	margin: 20px;
}
#show-lead {
	margin: 20px;
}
#show-links {
	margin: 20px;
}
#show-name {
	margin: 20px;
}

#show-rating {
	margin: 20px;
}

#show-what {
	margin: 20px;
}

#show-highlight-photo {
	margin: 20px;
}

#show-assessment {
	margin: 20px;
}
